<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">CASEDESIGN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CASEDESIGN</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-end ion-align-items-center"
             style="background-color: var(--ion-color-light)">
      <ion-col size="12" size-sm="4">
        <ion-text color="primary">
          <h1>Fabien GRONDIN</h1>
        </ion-text>
        <ion-text color="primary">
          <p>Décorateur d'Intérieur</p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center" size="12" size-sm="6">
        <ion-img
          alt="Photo de Fabien GRONDIN"
          src="https://casedesign.fr/content/images/2024/04/IMG_0629-1.jpeg"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-items-center" size="12" size-sm="8">
        <ion-text>
          CASE DESIGN est une entreprise de décoration d’intérieur où la créativité rencontre l’innovation.
          <br><br>
          Mon entreprise repose sur des valeurs fondamentales qui guident mon approche unique de la décoration
          d’intérieur.
          <br><br>
          Je crois en l'innovation au changement, en créant des espaces inspirants qui reflètent la personnalité de
          chacun je m’engage à comprendre les inspirations uniques de mes clients.
          <br><br>
          Que vous soyez un amateur de design contemporain, un défenseur du style classique, ou un adepte du
          minimalisme, un couple dynamique désirant transformer sa maison, une famille désirant de la nouveauté ou des
          personnes qui cherche à améliorer ou rénover leur espace de vie, je suis prêt à donner vie à vos projets.
          <br><br>
          Mon offre comprend une gamme complète de services de décoration intérieure, de la conception initiale (planche
          tendance, modélisations 3D ou de l’accompagnement personnalisé) à la mise en œuvre finale. Je suis là pour
          concrétiser vos rêves.
          <br><br>
          Rejoignez-moi dans cette aventure passionnante innovante et fun, de la transformation de l'espace, où chaque
          détail compte votre satisfaction est mon ultime objectif.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
