// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #AABDBF;
  --ion-color-primary-rgb: 170, 189, 191;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #96a6a8;
  --ion-color-primary-tint: #b3c4c5;

  --ion-color-secondary: #D99B66;
  --ion-color-secondary-rgb: 217, 155, 102;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #bf885a;
  --ion-color-secondary-tint: #dda575;

  --ion-color-tertiary: #8C4C35;
  --ion-color-tertiary-rgb: 140, 76, 53;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #7b432f;
  --ion-color-tertiary-tint: #985e49;

  --ion-color-quaternary: #D97855;
  --ion-color-quaternary-rgb: 217, 120, 85;
  --ion-color-quaternary-contrast: #000000;
  --ion-color-quaternary-contrast-rgb: 0, 0, 0;
  --ion-color-quaternary-shade: #bf6a4b;
  --ion-color-quaternary-tint: #dd8666;

  --ion-color-quinary: #A6372D;
  --ion-color-quinary-rgb: 166, 55, 45;
  --ion-color-quinary-contrast: #ffffff;
  --ion-color-quinary-contrast-rgb: 255, 255, 255;
  --ion-color-quinary-shade: #923028;
  --ion-color-quinary-tint: #af4b42;


  --ion-background-color: var(--ion-color-quaternary);
}
