<ion-header [translucent]="true" class="ion-no-border">
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <app-toolbar size="large"></app-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-items-center ion-padding-vertical" size="12" size-sm="8">
        <h2>
          <ion-text color="primary">Mes inspirations</ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      @for (post of posts(); track $index) {
        @if (post.at_first) {
          <ion-col size="12" size-sm="4">
            <ion-card [routerLink]="['/post/'+$index]">
              <img alt="Silhouette of mountains" src="{{post.images[0].url}}"/>
              <ion-card-header>
                <ion-card-title>{{ post.title }}</ion-card-title>
                <ion-card-subtitle>{{ post.subtitle }}</ion-card-subtitle>
              </ion-card-header>
              <!--          <ion-card-content>
                          {{post.body}}
                        </ion-card-content>-->
            </ion-card>
          </ion-col>
        }
      }
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
