<ion-header [translucent]="true" class="ion-no-border">
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <app-toolbar size="large"></app-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center"
             style="height:50vh;
             background-image: url('https://casedesign.fr/content/images/size/w2000/2024/04/salon-sejour5--1--1.jpeg');
             background-repeat: no-repeat;
             background-position: center;
             background-size: 100vw">
    </ion-row>
    <ion-row class="ion-justify-content-center"
             style="background-color: var(--ion-color-primary)">
      <ion-col size="12" size-sm="8" style="  padding: 50px 0;">
        <h1 style="font-size: 3rem">
          <ion-text color="light">Votre
            <ion-text color="secondary">Espace</ion-text>
          </ion-text>
          <br>
          <ion-text color="light">Mon
            <ion-text color="secondary">Expertise</ion-text>
          </ion-text>
          <br>
          <ion-text color="light">Votre
            <ion-text color="secondary">Style</ion-text>
          </ion-text>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-items-center ion-padding-vertical" size="12" size-sm="8">
        <h2>
          <ion-text color="primary"><u>À la une :</u></ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      @for (post of posts(); track $index) {
        @if (post.at_first) {
          <ion-col size="12" size-sm="4">
            <ion-card [routerLink]="['/post/'+$index]">
              <img alt="Silhouette of mountains" src="{{post.images[0].url}}"/>
              <ion-card-header>
                <ion-card-title>{{ post.title }}</ion-card-title>
                <ion-card-subtitle>{{ post.subtitle }}</ion-card-subtitle>
              </ion-card-header>
              <!--          <ion-card-content>
                          {{post.body}}
                        </ion-card-content>-->
            </ion-card>
          </ion-col>
        }
      }
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
