<ion-header [translucent]="true" class="ion-no-border">
  <app-toolbar>

  </app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <app-toolbar size="large">
      <ion-buttons slot="end">
        @for (appPage of appPages; track $index) {
          <ion-button color="secondary" routerLink="{{appPage.url}}">{{ appPage.title }}</ion-button>
        }
      </ion-buttons>
    </app-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center"
             style="
                   background-size:100vw;
                   background-image: url('https://casedesign.fr/content/images/size/w2000/2024/04/salon-sejour5--1--1.jpeg');
                   background-position: center;
                   background-repeat: no-repeat">
      <ion-col size="12" size-sm="8" style="vertical-align: center">
        <h1 style="margin: 20% 0">
          <ion-text color="light" style="background-color: var(--ion-color-primary)">Votre
            <ion-text color="secondary">Espace</ion-text>
          </ion-text>
          <br>
          <ion-text color="light" style="background-color: var(--ion-color-primary)">Mon
            <ion-text color="secondary">Expertise</ion-text>
          </ion-text>
          <br>
          <ion-text color="light" style="background-color: var(--ion-color-primary)">Votre
            <ion-text color="secondary">Style</ion-text>
          </ion-text>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center"
             style="background-color: var(--ion-color-primary)">
      <ion-col class="ion-align-items-center ion-padding-vertical" size="12" size-sm="8">
        <h2>
          <ion-text color="light">Coup de coeur :</ion-text>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center"
             style="background-color: var(--ion-color-primary)">
      @for (post of posts(); track $index) {
        @if (post.at_first) {
          <ion-col size="12" size-sm="4">
            <ion-card [routerLink]="['/post/'+$index]">
              <img alt="Silhouette of mountains" src="{{post.images[0].url}}"/>
              <ion-card-header>
                <ion-card-title>{{ post.title }}</ion-card-title>
                <ion-card-subtitle>{{ post.subtitle }}</ion-card-subtitle>
              </ion-card-header>
              <!--          <ion-card-content>
                          {{post.body}}
                        </ion-card-content>-->
            </ion-card>
          </ion-col>
        }
      }
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center" size="12">
        <ion-text color="secondary">
          <h1>A chacun sa formule !</h1>
        </ion-text>
      </ion-col>
      <!--    </ion-row>
          <ion-row class="ion-justify-content-center">-->
      <ion-col *ngFor="let offer of offers" size="12" size-lg="3" size-md="6" style="height: max-content">
        <ion-card>
          <!--          <img alt="Silhouette of mountains" src="{{offer.image_url}}"/>-->
          <ion-card-header color="secondary" style="min-height: 120px">
            <ion-card-title>{{ offer.title }}</ion-card-title>
            <ion-card-subtitle>{{ offer.subtitle }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="background-color: var(--ion-color-secondary); color: var(--ion-color-light)">
            {{ offer.body }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center"
             style="background-color: var(--ion-color-primary)">
      <ion-col class="ion-text-center" size="12" size-sm="8" style="  padding: 50px 0;">
        <h1 style="font-size: 4em">
          <ion-text color="light">Et
            <ion-text color="secondary">toi ?</ion-text>
          </ion-text>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center" size="12" size-sm="8">
        <ion-text>
          <h2>Besoin d'
            <ion-text color="primary">un projet déco ?</ion-text>
          </h2>
          <h2>De
            <ion-text color="primary"> nouvelle idée ?</ion-text>
          </h2>
          <h2>De
            <ion-text color="primary"> nouveauté ?</ion-text>
          </h2>
          <br><br>
          Laisse moi un message !
          <br>
          Je serais ravie de t'accompagner dans cette aventure.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="5">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Contact</ion-card-title>
          </ion-card-header>
          <ion-card-content style="background-color: var(--ion-color-secondary)">
            <ion-list style="background-color: var(--ion-color-secondary)">
              <ion-item color="secondary">
                <ion-input label="Email" labelPlacement="floating" placeholder="Saisissez votre e-mail"></ion-input>
              </ion-item>
              <ion-item color="secondary">
                <ion-input label="Message" labelPlacement="floating" placeholder="Saisissez votre message"></ion-input>
              </ion-item>
              <ion-button color="primary" expand="block">
                Envoyer
              </ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
