<ion-header [translucent]="true" class="ion-no-border">
  <app-toolbar>

  </app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <app-toolbar size="large">
      <ion-buttons slot="end">
        @for (appPage of appPages; track $index) {
          <ion-button color="secondary" routerLink="{{appPage.url}}">{{ appPage.title }}</ion-button>
        }
      </ion-buttons>
    </app-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center" size="12" size-sm="8">
        <ion-text color="primary">
          <h1>A chacun sa formule !</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let offer of offers" size="12" size-sm="3">
        <ion-card style="min-height: 100%">
          <!--          <img alt="Silhouette of mountains" src="{{offer.image_url}}"/>-->
          <ion-card-header color="primary" style="min-height: 120px">
            <ion-card-title color="light">{{ offer.title }}</ion-card-title>
            <ion-card-subtitle color="light">{{ offer.subtitle }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ offer.body }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
